<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Menú perfiles</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <mat-select
          [(ngModel)]="filter.mepPerId"
          name="perfil"
          (selectionChange)="OnChangePerfil($event)"
        >
          <mat-option value="0">Todos los perfiles</mat-option>
          <mat-option
            *ngFor="let perfil of listPerfiles"
            [value]="perfil.perId"
          >
            {{ perfil.perNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Aplicación</mat-label>
        <mat-select
          [(ngModel)]="filter.mepAppId"
          name="mepAppId"
          (selectionChange)="onChangeApp($event)"
        >
          <mat-option value="0">Todas</mat-option>
          <mat-option value="1">XPOS</mat-option>
          <mat-option value="2">CENTRAL</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="dataSource.data.length > 0">
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="mepPerId">
          <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.perfilNombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mepMenId">
          <mat-header-cell *matHeaderCellDef> Menú </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.menuNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="delete(item)"
              mat-button
              color="warn"
              matTooltip="Borrar"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      
      </table>
        <div class="contenedor-paginator">
          <mat-paginator
            class="paginator"
            [pageSizeOptions]="[10, 20, 50, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
    </div>
    <div
      *ngIf="dataSource.data.length === 0"
      style="text-align: center; padding: 40px; color: #999"
    >
      <mat-icon style="font-size: 64px; width: 64px; height: 64px">
        image_search
      </mat-icon>
      <p>No se encontraron registros de menú perfiles</p>
    </div>
  </mat-card>
</div>
