<div class="dialog-header">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="banner-container">
  <mat-form-field appearance="outline">
    <mat-label>Búsqueda por Sucursal:</mat-label>
    <mat-select
      [(ngModel)]="filter.subSucId"
      id="sucursal"
      name="sucursal"
      [disabled]="!onEditing"
    >
      <mat-option value="">Todas las sucursales</mat-option>
      <mat-option
        *ngFor="let sucursal of listSucursales"
        [value]="sucursal.sucId"
      >
        {{ sucursal.sucNombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="header-row">
    <h2>Gestión de Banners</h2>
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Agregar nuevo banner"
      matTooltipPosition="below"
      (click)="addNewBannerRow()"
      *ngIf="!showNewBannerRow"
      class="add-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table
    mat-table
    [dataSource]="tableData"
    class="mat-elevation-z8 full-width-table"
  >
    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <ng-container *ngIf="i === 0 && showNewBannerRow">
          <img
            *ngIf="newBanner.blobUrl"
            [src]="newBanner.blobUrl"
            alt="Nueva Imagen"
            width="85"
            height="55"
            style="object-fit: cover; border-radius: 4px; margin-left: 8px"
          />
        </ng-container>

        <ng-container *ngIf="i !== 0 || !showNewBannerRow">
          <img
            *ngIf="item.blobUrl"
            [src]="item.blobUrl"
            alt="Banner"
            width="85"
            height="55"
            style="object-fit: cover; border-radius: 4px; cursor: pointer"
            (click)="openImagePreview(item.blobUrl)"
          />
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <ng-container *ngIf="i === 0 && showNewBannerRow">
          {{ newBanner.subNombre ? newBanner.subNombre : "----" }}
        </ng-container>
        <ng-container *ngIf="i !== 0 || !showNewBannerRow">
          {{ item.subNombre }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="orden">
      <th mat-header-cell *matHeaderCellDef>Orden</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <ng-container *ngIf="i === 0 && showNewBannerRow">
          <input
            matInput
            type="number"
            min="0"
            [(ngModel)]="newBanner.subOrden"
            class="order-input"
          />
        </ng-container>
        <ng-container *ngIf="i !== 0 || !showNewBannerRow">
          <input
            matInput
            type="number"
            min="1"
            [(ngModel)]="item.subOrden"
            (ngModelChange)="onEditChange(item)"
            class="order-input"
          />
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <ng-container *ngIf="i === 0 && showNewBannerRow">
          <mat-checkbox [(ngModel)]="newBanner.subActivo"></mat-checkbox>
        </ng-container>
        <ng-container *ngIf="i !== 0 || !showNewBannerRow">
          <mat-checkbox
            [(ngModel)]="item.subActivo"
            (change)="onEditChange(item)"
          ></mat-checkbox>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <ng-container *ngIf="i === 0 && showNewBannerRow">
          <button
            mat-icon-button
            color="accent"
            matTooltip="Subir imagen"
            matTooltipPosition="below"
            (click)="selectNewImage()"
          >
            <mat-icon>file_upload</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            matTooltip="Guardar registro"
            matTooltipPosition="below"
            (click)="addNewBanner()"
            [disabled]="!newBanner.subNombre || !newBanner.imagenUrl"
          >
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="i !== 0 || !showNewBannerRow">
          <button
            mat-icon-button
            color="primary"
            matTooltip="Actualizar registro"
            matTooltipPosition="below"
            (click)="updateBanner(item)"
            [disabled]="!isEditing(item)"
          >
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            matTooltip="Subir imagen"
            matTooltipPosition="below"
            (click)="onChangeImage(item)"
          >
            <mat-icon>file_upload</mat-icon>
          </button>
          <button
            mat-icon-button
            style="color: rgb(255, 0, 0, 0.8)"
            matTooltip="Eliminar registro"
            matTooltipPosition="below"
            (click)="deleteBanner(item)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <input
    type="file"
    #fileInput
    accept="image/jpeg,image/jpg,image/png,image/gif,image/webp"
    style="display: none"
    (change)="onFileSelected($event)"
  />
</div>
