<h2>Detalle del fórmula contable</h2>
<form
  *ngIf="formulaContable"
  #editForm="ngForm"
  (ngSubmit)="save()"
  autocomplete="off"
>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Clave</mat-label>
        <input
          matInput
          [(ngModel)]="formulaContable.focId"
          id="focId"
          name="focId"
          placeholder="Clave"
          readonly
        />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          [value]="formulaContable.focSucId"
          (selectionChange)="OnSucursalChange($event)"
        >
          <mat-option
            *ngFor="let sucursal of listSucursales"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label for="focFormula">Fórmula</mat-label>
        <input
          matInput
          [(ngModel)]="formulaContable.focFormula"
          id="focFormula"
          name="focFormula"
          placeholder="Fórmula"
          required
        />
        <mat-error *ngIf="formulaContable.focFormula == ''"
          >Fórmula es requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label for="focClave">Código</mat-label>
        <input
          matInput
          [(ngModel)]="formulaContable.focClave"
          id="focClave"
          name="focClave"
          placeholder="Código"
          required
        />
        <mat-error *ngIf="formulaContable.focClave == ''"
          >Código es requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label for="focNombre">Nombre</mat-label>
        <input
          matInput
          [(ngModel)]="formulaContable.focNombre"
          id="focNombre"
          name="focNombre"
          placeholder="Nombre"
          required
        />
        <mat-error *ngIf="formulaContable.focNombre == ''"
          >Nombre es requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Estatus de Edición</mat-label>
        <mat-select
          [(ngModel)]="formulaContable.focEstatusEdicion"
          id="focEstatusEdicion"
          name="focEstatusEdicion"
        >
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    
  </div>
  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
