<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Bancos</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Activo:</mat-label>
        <mat-select
          [(ngModel)]="filter.banActivo"
          id="banActivo"
          name="banActivo"
          (selectionChange)="onActivoChange()"
        >
          <mat-option value="">Todos</mat-option>
          <mat-option value="true">Sí</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="dataSource.data.length > 0">
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="banNombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.banNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="banActivo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.banActivo" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.banActivo" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
              matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
            <button
              (click)="delete(item)"
              mat-button
              color="warn"
              matTooltip="Borrar"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
    <div
      *ngIf="dataSource.data.length === 0"
      style="text-align: center; padding: 40px; color: #999"
    >
      <mat-icon style="font-size: 64px; width: 64px; height: 64px">
        image_search
      </mat-icon>
      <p>No se encontraron registros de bancos</p>
    </div>
    <div class="contenedor-paginator">
      <mat-paginator
        class="paginator"
        [pageSizeOptions]="[10, 20, 50, 100]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card>
</div>
