<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Tasas o Cuotas</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Clave de impuestos</mat-label>
        <mat-select (selectionChange)="OnMarcaChange($event)">
          <mat-option value="0">Todos los tipos de impuestos</mat-option>
          <mat-option
            *ngFor="let impuesto of listImpuestosFilter"
            [value]="impuesto.impId"
          >
            {{ impuesto.impNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Clave de tipo de factores</mat-label>
        <mat-select (selectionChange)="OnFactorChange($event)">
          <mat-option value="0">Todos los factores</mat-option>
          <mat-option
            *ngFor="let factor of listTiposFactoresFilter"
            [value]="factor.tfaId"
          >
            {{ factor.tfaTipofactor }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Activo:</mat-label>
        <mat-select
          [(ngModel)]="filter.tocActivo"
          id="banActivo"
          name="banActivo"
          (selectionChange)="OnActivoChange()"
        >
          <mat-option value="all">Todos</mat-option>
          <mat-option value="true">Sí</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="tasaCuotaList.length > 0">
      <table mat-table #table [dataSource]="tasaCuotaList">
        <ng-container matColumnDef="tocTasaocuota">
          <mat-header-cell *matHeaderCellDef> Tasa o Cuota </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.tocTasaocuota }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tocImpId">
          <mat-header-cell *matHeaderCellDef>
            Clave de Impuesto
          </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.impNombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tocTfaId">
          <mat-header-cell *matHeaderCellDef>
            Clave de Tipos Factores
          </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.tfaTipofactor }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tocTraslado">
          <mat-header-cell *matHeaderCellDef> Traslado </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.tocTraslado" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.tocTraslado" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tocRetencion">
          <mat-header-cell *matHeaderCellDef> Retención </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.tocRetencion" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.tocRetencion" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tocActivo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.tocActivo" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.tocActivo" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
              matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>

    <div
      *ngIf="tasaCuotaList.length === 0"
      style="text-align: center; padding: 40px; color: #999"
    >
      <mat-icon style="font-size: 64px; width: 64px; height: 64px">
        image_search
      </mat-icon>
      <p>No se encontraron registros de tasas o coutas</p>
    </div>
  </mat-card>
</div>
