
<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Perfiles</h2>
    <form #f="ngForm">
    

      <mat-form-field>
        <mat-label>Activo:</mat-label>
        <mat-select
          [(ngModel)]="filter.perActivo"
          id="marActivo"
          name="marActivo"
          (selectionChange)="onActivoChange()"
        >
          <mat-option value="all">Todos</mat-option>
          <mat-option value="true">Sí</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="perfilList.length > 0">
      <table mat-table #table [dataSource]="perfilList">
        

        <ng-container matColumnDef="perNombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.perNombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="perClave">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.perClave }} </mat-cell>
        </ng-container>

             <ng-container matColumnDef="perActivo">
          <mat-header-cell *matHeaderCellDef>
            Permite devolución
          </mat-header-cell>
          <mat-cell *matCellDef="let item" 
			 style="justify-content: center;">
            <mat-icon *ngIf="item.perActivo" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.perActivo" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>
          

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
                matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
            <button
              (click)="changeRoute(item)"
              mat-button
              color="primary"
              class="button-redirect"
              matTooltip="Ir a menú por perfil"
              matTooltipPosition="above"
            >
              <mat-icon>open_in_new</mat-icon>
              <!-- También puedes usar: launch, exit_to_app, arrow_forward, link -->
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card>
</div>
