<h2>Detalle de Cuenta Bancaria</h2>
<form
  *ngIf="cuentaBancaria"
  #editForm="ngForm"
  (ngSubmit)="save()"
  autocomplete="off"
>
  <div class="row">
  

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          [value]="cuentaBancaria.cubSucId"
          (selectionChange)="OnSucursalChange($event)"
          required 
          [disabled]="isEditing"
          >
          <mat-option
            *ngFor="let sucursal of sucursalList"
            [value]="sucursal.sucId"
            
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Banco</mat-label>
        <mat-select
          [value]="cuentaBancaria.cubBanId"
          (selectionChange)="OnBancoChange($event)"
          required
        >
          <mat-option *ngFor="let banco of bancoList" [value]="banco.banId">
            {{ banco.banNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="cubCuentaBancaria">Cuenta bancaria</mat-label>
        <input
          matInput
          [(ngModel)]="cuentaBancaria.cubCuentaBancaria"
          id="cubCuentaBancaria"
          name="cubCuentaBancaria"
          placeholder="Cuenta bancaria"
          required
           maxlength="30"
        />
        <mat-error *ngIf="cuentaBancaria.cubCuentaBancaria == ''"
          >Cuenta bancaria es requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Activo:</mat-label>
        <mat-select
          [(ngModel)]="cuentaBancaria.cubActivo"
          id="cubActivo"
          name="cubActivo"
          required
        >
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  
  </div>
  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
