<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Usuarios</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <mat-select (selectionChange)="onPerfilChange($event)">
          <mat-option value="0">Todos los perfiles</mat-option>
          <mat-option
            *ngFor="let perfil of perfilListsFilter"
            [value]="perfil.perId"
          >
            {{ perfil.perNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select (selectionChange)="onSucursalChange($event)">
          <mat-option value="0">Todas los sucursales</mat-option>
          <mat-option
            *ngFor="let sucursal of sucursalListsFilter"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Activo:</mat-label>
        <mat-select
          [(ngModel)]="filter.usuActivo"
          id="usuActivo"
          name="usuActivo"
          (selectionChange)="onActivoChange()"
        >
          <mat-option value="all">Todos</mat-option>
          <mat-option value="true">Sí</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="dataSource.data.length > 0">
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="usuNombre">
          <mat-header-cell *matHeaderCellDef> Nombre Completo </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.usuNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuUser">
          <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.usuUser }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuCorreoElectronico">
          <mat-header-cell *matHeaderCellDef>
            Correo Electrónico
          </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.usuCorreoElectronico }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuPerId">
          <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.perfilNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuSucId">
          <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.sucursalNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuActivo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.usuActivo" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.usuActivo" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuFechaAlta">
          <mat-header-cell *matHeaderCellDef> Fecha Alta </mat-header-cell>
          <mat-cell
            style="justify-content: center !important"
            *matCellDef="let item"
          >
            {{ item.usuFechaAlta | date : "dd/MM/yyyy HH:mm" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuFecha_Modificacion">
          <mat-header-cell *matHeaderCellDef>
            Fecha Modificación
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.usuFechaModificacion | date : "dd/MM/yyyy HH:mm" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
              matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
    <div
      *ngIf="dataSource.data.length === 0"
      style="text-align: center; padding: 40px; color: #999"
    >
      <mat-icon style="font-size: 64px; width: 64px; height: 64px">
        image_search
      </mat-icon>
      <p>No se encontraron registros de usuarios</p>
    </div>
    <div class="contenedor-paginator">
      <mat-paginator
        class="paginator"
        [pageSizeOptions]="[10, 20, 50, 100]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card>
</div>
