<h2>Detalle de la sucursal</h2>
<form
  *ngIf="sucursal"
  #editForm="ngForm"
  (ngSubmit)="save()"
  autocomplete="off"
>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          [(ngModel)]="sucursal.sucNombre"
          id="sucNombre"
          name="sucNombre"
          placeholder="Nombre"
          required
           maxlength="200"
        />
        <mat-error *ngIf="sucursal.sucNombre == ''"
          >Nombre es requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="sucursal.sucNumero"
          id="sucNumero"
          name="sucNumero"
          placeholder="Número"
           maxlength="30"
        />
        <mat-error *ngIf="sucursal.sucNumero == undefined"
          >Número es requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Calle</mat-label>
        <input
          matInput
          [(ngModel)]="sucursal.sucCalle"
          id="sucCalle"
          name="sucCalle"
          placeholder="Calle"
           maxlength="200"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Número Exterior</mat-label>
        <input
          matInput
          [(ngModel)]="sucursal.sucNumeroExterior"
          id="sucNumeroExterior"
          name="sucNumeroExterior"
          placeholder="Número Exterior"
           maxlength="10"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Número Interior</mat-label>
        <input
          matInput
          [(ngModel)]="sucursal.sucNumeroInterior"
          id="sucNumeroInterior"
          name="sucNumeroInterior"
          placeholder="Número Interior"
           maxlength="10"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Latitud</mat-label>
        <input
          matInput
          [(ngModel)]="sucursal.sucLatitud"
          id="sucLatitud"
          name="sucLatitud"
          placeholder="Latitud"
           maxlength="20"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Longitud</mat-label>
        <input
          matInput
          [(ngModel)]="sucursal.sucLongitud"
          id="sucLongitud"
          name="sucLongitud"
          placeholder="Longitud"
           maxlength="20"
        />
      </mat-form-field>
    </div>

    <!-- SECCIÓN DE UBICACIÓN EN CASCADA -->

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select
          [(ngModel)]="sucursal.sucEstId"
          (selectionChange)="onEstadoChange($event)"
          name="sucEstId"
          required
        >
          <mat-option *ngFor="let estado of estadosList" [value]="estado.estId">
            {{ estado.estNombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!sucursal.sucEstId">Estado es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Municipio</mat-label>
        <mat-select
          [(ngModel)]="sucursal.sucMunId"
          (selectionChange)="onMunicipioChange($event)"
          name="sucMunId"
          required
          [disabled]="municipiosList.length === 0"
        >
          <mat-option
            *ngFor="let municipio of municipiosList"
            [value]="municipio.munId"
          >
            {{ municipio.munNombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!sucursal.sucMunId">Municipio es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <mat-select
          [(ngModel)]="sucursal.sucCiuId"
          (selectionChange)="onCiudadChange($event)"
          name="sucCiuId"
          required
          [disabled]="ciudadesList.length === 0"
        >
          <mat-option
            *ngFor="let ciudad of ciudadesList"
            [value]="ciudad.ciuId"
          >
            {{ ciudad.ciuNombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!sucursal.sucCiuId">Ciudad es requerida</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Colonia</mat-label>
        <mat-select
          [(ngModel)]="sucursal.sucColId"
          (selectionChange)="onColoniaChange($event)"
          name="sucColId"
          required
          [disabled]="coloniasList.length === 0"
        >
          <mat-option
            *ngFor="let colonia of coloniasList"
            [value]="colonia.colId"
          >
            {{ colonia.colNombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!sucursal.sucColId">Colonia es requerida</mat-error>
      </mat-form-field>
    </div>

    <!-- Si necesitas el campo de Empresa -->
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Empresa</mat-label>
        <mat-select
          [value]="sucursal.sucEmpId"
          (selectionChange)="onEmpresaChange($event)"
        >
          <mat-option
            *ngFor="let empresa of empresasList"
            [value]="empresa.empId"
          >
            {{ empresa.empNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
