<h2>Detalle del perfil</h2>
<form
  *ngIf="menuPerfil"
  #editForm="ngForm"
  (ngSubmit)="save()"
  autocomplete="off"
>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <mat-select
          [value]="menuPerfil.mepPerId"
          (selectionChange)="OnPerfilChange($event)"
        >
          <mat-option
            *ngFor="let perfil of listPerfiles"
            [value]="perfil.perId"
          >
            {{ perfil.perNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Menú</mat-label>
        <mat-select
          [value]="menuPerfil.mepMenId"
          (selectionChange)="OnMenuChange($event)"
          required
        >
          <mat-option *ngFor="let menu of listMenus" [value]="menu.menuId">
            {{ menu.menuNombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="menuPerfil.mepMenId == undefined">
          Menú es requerido
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>