<div class="dialog">

  <div class="row">
    <div class="col-10 col-md-11">
      <h1 class="dialog-title">Detalle del nivel</h1>
    </div>
    <div class="col-1 text-right">
      <button mat-button mat-dialog-close class="close-icon close-min-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form class="dialog-form-container" *ngIf="nivelCopia" #editForm="ngForm" (ngSubmit)="save()" autocomplete="off">

    <div class="center field-wrap700">

      <mat-form-field id="clave" *ngIf="nivelCopia.nivId > 0">
        <mat-label>Clave</mat-label>
        <input matInput [(ngModel)]="nivelCopia.nivId" id="nivId" name="nivId" placeholder="Clave" readonly>
      </mat-form-field>

      <mat-form-field id="descripcion">
        <mat-label for="nivDescripcion">Descripción</mat-label>
        <input matInput [(ngModel)]="nivelCopia.nivDescripcion" id="nivDescripcion" name="nivDescripcion"
          placeholder="Descripción" required>
        <mat-error *ngIf="nivelCopia.nivDescripcion === ''">Descripción es requerido</mat-error>
      </mat-form-field>

    </div>

    <div class="button-row text-center" role="group">
      <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Guardar</button>
      <button mat-button mat-dialog-close>Cancelar</button>
    </div>

  </form>
</div>