<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Productos por Sucursal</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          [value]="filter.supSucId"
          (selectionChange)="onSucursalChange($event)"
        >
          <mat-option value="0">Todas las sucursales</mat-option>
          <mat-option
            *ngFor="let sucursal of listSucursales"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="sucursalProductoList.length > 0">
      <table mat-table #table [dataSource]="sucursalProductoList">
        <ng-container matColumnDef="supSucId">
          <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.supSucursalNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="supProId">
          <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.supProductoNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="supLprId">
          <mat-header-cell *matHeaderCellDef> Lista de Precio </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.supListaPrecioNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
              matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
            <button
              (click)="delete(item)"
              mat-button
              color="warn"
              matTooltip="Borrar"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card>
</div>
