<h2>Detalle del producto por sucursal</h2>
<form
  *ngIf="sucursalProducto"
  #editForm="ngForm"
  (ngSubmit)="save()"
  autocomplete="off"
>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          [value]="sucursalProducto.supSucId"
          (selectionChange)="onSucursalChange($event)"
           [disabled]="!isAdding"
        >
          <mat-option
            *ngFor="let sucursal of listSucursales"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label for="supProId">Producto</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="sucursalProducto.supProductoNombre"
          id="supProId"
          name="supProId"
          placeholder="Clave de Producto"
          readonly
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Lista de Precios</mat-label>
        <mat-select
          [value]="sucursalProducto.supLprId"
          (selectionChange)="onListaPrecioChange($event)"
        >
          <mat-option
            *ngFor="let listaPrecio of listListaPrecios"
            [value]="listaPrecio.lprId"
          >
            {{ listaPrecio.lprNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
