<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de Familias</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Submarca</mat-label>
        <mat-select (selectionChange)="onSubmarcaChange($event)">
          <mat-option value="0">Todas las submarcas</mat-option>
          <mat-option
            *ngFor="let submarca of submarcasListsFilter"
            [value]="submarca.smaId"
          >
            {{ submarca.smaNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Familia Padre:</mat-label>

        <mat-select (selectionChange)="onFamiliaPadreChange($event)">
          <mat-option value="0">Todas las familias</mat-option>
          <mat-option
            *ngFor="let familia of familiasListFilter"
            [value]="familia.famId"
          >
            {{ familia.famNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>

    <div *ngIf="familiaList.length > 0">
      <table mat-table #table [dataSource]="familiaList">
        <ng-container matColumnDef="famSmaId">
          <mat-header-cell *matHeaderCellDef> Submarca </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.famSubNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="famIdParent">
          <mat-header-cell *matHeaderCellDef> Familia Padre </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.famParentNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="famNombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell class="cell-angular" *matCellDef="let item">
            {{ item.famNombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="famSku">
          <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
          <mat-cell class="clave" *matCellDef="let item">
            {{ item.famSku }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="famActivo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.famActivo" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.famActivo" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
              matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
            <!-- <button (click)="delete(item)" mat-button color="warn">
              <mat-icon>delete</mat-icon>
            </button> -->
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card>
</div>
