<div class="dialog">

  <div class="row row-cleaner-space.row">
    <div class="col-10 col-md-11 ">
      <h1 class="dialog-title">Detalle de la necesidad</h1>
    </div>
    <div class="col-1 text-right">
      <button mat-button mat-dialog-close class="close-icon close-min-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form class="dialog-form-container" *ngIf="necesidadCopia" #editForm="ngForm" (ngSubmit)="save()">
    <div class="center field-wrap700">
      <mat-form-field id="clave" *ngIf="necesidadCopia.necId>0">
        <mat-label>Clave</mat-label>
        <input matInput [(ngModel)]="necesidadCopia.necId" id="necId" name="necId" placeholder="Clave" readonly>
      </mat-form-field>

      <mat-form-field id="necesidadCopia">
        <mat-label for="necDescripcion">Descripción</mat-label>
        <input matInput [(ngModel)]="necesidadCopia.necDescripcion" id="necDescripcion" name="necDescripcion"
          placeholder="Descripción" required>
        <mat-error *ngIf="necesidadCopia.necDescripcion==''">Descripción es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="button-row text-center" role="group">
      <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Guardar</button>
      <button mat-button mat-dialog-close>Cancelar</button>
    </div>
  </form>
</div>