<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <li class="breadcrumb-item active">Catalogo de cuentas bancarias</li>
  </ol>
</nav>

<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catalogo de cuentas bancarias</h2>
    <form #f="ngForm">


      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          [value]="filter.cubSucId"
          (selectionChange)="OnSucursalChange($event)"
        >
         <mat-option value="0">Todas las sucursales</mat-option>
          <mat-option
            *ngFor="let sucursal of sucursalList"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Banco</mat-label>
        <mat-select
          [value]="filter.cubBanId"
          (selectionChange)="OnBancoChange($event)"
        >
         <mat-option value="0">Todos los bancos</mat-option>
          <mat-option *ngFor="let banco of bancoList" [value]="banco.banId">
            {{ banco.banNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="cuentaBancariaList.length > 0">
      <table mat-table #table [dataSource]="cuentaBancariaList">
        <ng-container matColumnDef="cubId">
          <mat-header-cell *matHeaderCellDef> Clave </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubId }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubSucId">
          <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubSucName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubBanId">
          <mat-header-cell *matHeaderCellDef> Banco </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubBanName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubCuentaBancaria">
          <mat-header-cell *matHeaderCellDef> Cuenta bancaria </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.cubCuentaBancaria }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubActivo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubActivo ? "Sí": "No" }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubFechaAlta">
          <mat-header-cell *matHeaderCellDef> Fecha alta </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubFechaAlta }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
      
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card>
</div>
