
<div class="proin-main">
  <mat-card class="proin-card">
    <h2>Catálogo de cuentas bancarias</h2>
    <form #f="ngForm">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          [value]="filter.cubSucId"
          (selectionChange)="OnSucursalChange($event)"
        >
          <mat-option value="0">Todas las sucursales</mat-option>
          <mat-option
            *ngFor="let sucursal of sucursalList"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Banco</mat-label>
        <mat-select
          [value]="filter.cubBanId"
          (selectionChange)="OnBancoChange($event)"
        >
          <mat-option value="0">Todos los bancos</mat-option>
          <mat-option *ngFor="let banco of bancoList" [value]="banco.banId">
            {{ banco.banNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        color="accent"
        (click)="add()"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="cuentaBancariaList.length > 0">
      <table mat-table #table [dataSource]="cuentaBancariaList">
        <ng-container matColumnDef="cubSucId">
          <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubSucName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubBanId">
          <mat-header-cell *matHeaderCellDef> Banco </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.cubBanName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubCuentaBancaria">
          <mat-header-cell *matHeaderCellDef> Cuenta bancaria </mat-header-cell>
          <mat-cell style = "justify-content: right !important;" *matCellDef="let item">
            {{ item.cubCuentaBancaria }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubActivo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let item" style="justify-content: center">
            <mat-icon *ngIf="item.cubActivo" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!item.cubActivo" color="warn">cancel</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cubFechaAlta">
          <mat-header-cell *matHeaderCellDef> Fecha alta </mat-header-cell>
          <mat-cell
            style="justify-content: center !important"
            *matCellDef="let item"
          >
            {{ item.cubFechaAlta | date : "dd/MM/yyyy HH:mm" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            Acciones
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="edit(item)"
              mat-button
              color="warn"
              class="button-edit"
                matTooltip="Editar"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon></button
            >&nbsp;
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
    <div
      *ngIf="cuentaBancariaList.length === 0"
      style="text-align: center; padding: 40px; color: #999"
    >
      <mat-icon style="font-size: 64px; width: 64px; height: 64px">
        image_search
      </mat-icon>
      <p>No se encontraron registros de cuentas bancarias</p>
    </div>
  </mat-card>
</div>
