<h2>Detalle del producto por proveedor</h2>
<form *ngIf="productoProveedor" #editForm="ngForm" (ngSubmit)="save()" autocomplete="off">

<div class="row">

   <div class="col-md-6">
      <mat-form-field>
         <mat-label>Producto</mat-label>
         <input
            type="text"
            matInput
            [formControl]="productoControl"
            [matAutocomplete]="autoProducto"
            placeholder="Buscar producto..."
               [readonly]="isEditing"
         />
         <mat-autocomplete
            #autoProducto="matAutocomplete"
            [displayWith]="displayProductoFn"
            (optionSelected)="onProductoSelected($event.option.value)"
         >
            <mat-option
               *ngFor="let producto of filteredProductos | async"
               [value]="producto"
            >
               <span><strong>{{ producto.proId }}</strong> - {{ producto.proNombre }}</span>
               <br />
               <small style="color: #666" *ngIf="producto.proDescripcion">{{ producto.proDescripcion }}</small>
            </mat-option>
         </mat-autocomplete>
      </mat-form-field>
   </div>

   <div class="col-md-6">
      <mat-form-field>
         <mat-label>Proveedor</mat-label>
         <input
            type="text"
            matInput
            [formControl]="proveedorControl"
            [matAutocomplete]="autoProveedor"
            placeholder="Buscar proveedor..."
               [readonly]="isEditing"
         />
         <mat-autocomplete
            #autoProveedor="matAutocomplete"
            [displayWith]="displayProveedorFn"
            (optionSelected)="onProveedorSelected($event.option.value)"
         >
            <mat-option
               *ngFor="let proveedor of filteredProveedores | async"
               [value]="proveedor"
            >
               <span><strong>{{ proveedor.pveId }}</strong> - {{ proveedor.pveNombre }}</span>
            </mat-option>
         </mat-autocomplete>
         <mat-error *ngIf="productoProveedor.prvPveId==undefined">Proveedor es requerido</mat-error>
      </mat-form-field>
   </div>
</div>

<div class="row">
   <div class="col-md-6">
      <mat-form-field>
         <mat-label>Unidad de medida</mat-label>
         <mat-select
            [value]="productoProveedor.prvUnmId"
            (selectionChange)="onUnidadMedidaChange($event)"
            name="prvUnmId"
      
         >
            <mat-option
               *ngFor="let unidad of unidadMedidaList"
               [value]="unidad.unmId"
            >
               {{ unidad.unmNombre }}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>

   <div class="col-md-6">
      <mat-form-field>
         <mat-label for="prvPrecio">Precio</mat-label>
         <input matInput 
                type="number" 
                [(ngModel)]="productoProveedor.prvPrecio" 
                id="prvPrecio" 
                name="prvPrecio" 
                placeholder="Precio"
                required>
         <mat-error *ngIf="productoProveedor.prvPrecio==undefined">Precio es requerido</mat-error>
      </mat-form-field>
   </div>
</div>

   <div class="button-row text-center" role="group">
      <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Guardar</button>
      <button mat-button mat-dialog-close>Cancelar</button>
   </div>
</form>