.table-container {
	height: 600px;
	overflow-y: auto;  /* Habilita el desplazamiento vertical */
 }
 
 .table-mat-dialog {
	width: 100%;  /* Asegura que la tabla ocupe todo el ancho del contenedor */
 }
 
 .table-mat-dialog__header-cell, .table-mat-dialog__cell {
	padding: 16px;
	text-align: left;
 }
 
 .table-mat-dialog__header-row {
	background-color: #f1f1f1;  /* Color de fondo para el encabezado */
 }
 
 .title-center{
	text-align: center;
 }