<div class="main-siace__container m-center colored-border-container m-margin-b">
	<mat-card id="diagnostico-card" class="indicator row-8" (click)="openDialog($event)">
		<mat-card-header>
			Diagnósticos Totales
		</mat-card-header>
		<mat-card-content>
			<h1 class="indicator-title">{{indicador_Diagnostico}}</h1>
		</mat-card-content>
	</mat-card>

	<mat-card id="entrevistas-card" class="indicator row-8" (click)="openDialog($event)">
		<mat-card-header>
			Entrevistas Totales
		</mat-card-header>
		<mat-card-content>
			<h1 class="indicator-title">{{indicador_Entrevistas}}</h1>
		</mat-card-content>
	</mat-card>

	<mat-card id="devifaci-card" class="indicator row-8" (click)="openDialog($event)">
		<mat-card-header class="bottom-no-margin">
			Sesiones DEVIFACI Totales
		</mat-card-header>
		<mat-card-content>
			<h1 class="indicator-title especial">{{indicador_Derivacion}}</h1>
		</mat-card-content>
	</mat-card>

	<mat-card id="a3-card" class="indicator row-8" (click)="openDialog($event)">
		<mat-card-header>
			Empresas Totales A3
		</mat-card-header>
		<mat-card-content>
			<h1 class="indicator-title">{{indicador_A3}}</h1>
		</mat-card-content>
	</mat-card>
</div>