<h2>Detalle del usuario</h2>
<form *ngIf="usuario" #editForm="ngForm" (ngSubmit)="save()" autocomplete="off">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="usuNombre">Nombre Completo</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.usuNombre"
          id="usuNombre"
          name="usuNombre"
          placeholder="Nombre Completo"
          required
          maxlength="200"
        />
        <mat-error *ngIf="usuario.usuNombre == ''"
          >Nombre Completo es requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="usuUser">Usuario</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.usuUser"
          id="usuUser"
          name="usuUser"
          placeholder="Usuario"
          required
          maxlength="30"
        />
        <mat-error *ngIf="usuario.usuUser == ''"
          >Usuario es requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="usuPassword">Contraseña</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.usuPassword"
          id="usuPassword"
          name="usuPassword"
          placeholder="Contraseña"
          maxlength="200"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.usuCorreoElectronico"
          name="usuCorreoElectronico"
          type="email"
          email
          required
          #correo="ngModel"
          placeholder="ejemplo@correo.com"
        />
        <mat-error *ngIf="correo.invalid && (correo.dirty || correo.touched)">
          <span *ngIf="correo.errors?.['required']"
            >El correo es requerido</span
          >
          <span *ngIf="correo.errors?.['email']">Ingrese un correo válido</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <mat-select
          (selectionChange)="onPerfilChange($event)"
          [value]="usuario.usuPerId"
          required
        >
          <mat-option
            *ngFor="let perfil of perfilListsFilter"
            [value]="perfil.perId"
          >
            {{ perfil.perNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <mat-select
          (selectionChange)="onSucursalChange($event)"
          [value]="usuario.usuSucId"
        >
          <mat-option
            *ngFor="let sucursal of sucursalListsFilter"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Activo</mat-label>
        <mat-select
          id="banActivo"
          name="banActivo"
          [(ngModel)]="usuario.usuActivo"
          required
          (selectionChange)="onActivoChange($event)"
        >
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
