<div class="proin-main">
  <mat-card class="proin-card">
    <br />
    <h2>Catálogo de Banners</h2>
    <br />
    <form #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Búsqueda por Sucursal:</mat-label>
        <mat-select
          [(ngModel)]="filter.subSucId"
          id="sucursal"
          name="sucursal"
          (selectionChange)="onSucursalChange()"
        >
          <mat-option value="0">Todas las sucursales</mat-option>
          <mat-option
            *ngFor="let sucursal of listSucursales"
            [value]="sucursal.sucId"
          >
            {{ sucursal.sucNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <button
        mat-mini-fab
        color="accent"
        (click)="add(filter.subSucId)"
        [disabled]="!f?.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div *ngIf="bannerSucList.length > 0">
      <table mat-table #table [dataSource]="bannerSucList">
        <ng-container matColumnDef="idSucursal">
          <mat-header-cell *matHeaderCellDef> Clave </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sucursal">
          <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ getNombreSucursal(item) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button
              (click)="editSuc(item)"
              mat-button
              color="primary"
              class="button-edit"
              matTooltip="Editar banner"
              matTooltipPosition="below"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card>
</div>
