mat-header-cell,
mat-cell {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

mat-cell button,
mat-cell mat-icon {
  margin: 0 auto;
}

table { 
  min-width: 50vw 
}

.mat-column-actions {flex: 0 15% 20%;}
