<div class="catalogo">

   <div class="catalogo-header">
      <h1 class="catalogo__title">
         <img src="../../../assets/icons/cloud_upload.svg" alt="Descripción del icono" width="40" height="40">
         Carga de preguntas
      </h1>
   </div>

   <mat-card class="catalogo__card button-no-shadow">

      <div class="contenedor-button">
         <form #f="ngForm" autocomplete="off">
            <mat-form-field appearance="fill">
               <mat-label for="fechaIni">Fecha inicial</mat-label>
               <input matInput [matDatepicker]="pickerIni" [(ngModel)]="fechaIni" id="fechaIni" name="fechaIni"
                  placeholder="Fecha inicial" required (dateChange)="sendInfo()" [max]="fechaFin">
               <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
               <mat-datepicker #pickerIni></mat-datepicker>
               <mat-error *ngIf="fechaIni==undefined">Fecha es requerida</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
               <mat-label for="fechaFin">Fecha final</mat-label>
               <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="fechaFin" id="fechaFin" name="fechaFin"
                  placeholder="Fecha final" required [min]="fechaIni" (dateChange)="sendInfo()">
               <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
               <mat-datepicker #pickerEnd></mat-datepicker>
               <mat-error *ngIf="fechaFin==undefined">Fecha es requerida</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
               <mat-label for="status">Estatus</mat-label>
               <mat-select id="status" name="status" [(ngModel)]="selectedStatus" (selectionChange)="sendInfo()">
                  
                  <mat-option [value]="'E'">Con error</mat-option>
                  <mat-option [value]="'O'">Exitosos</mat-option>
                  <mat-option [value]="'0'">Todos</mat-option>
                  
               </mat-select>
            </mat-form-field>

            <button mat-mini-fab class="catalogo__add-button button-no-shadow" color="accent" (click)="newDocument()" [disabled]="!f?.valid">
               <mat-icon>add</mat-icon>
            </button>
         </form>
      </div>

      <div class="catalogo__table-container" *ngIf="dataSource">
         <table class="catalogo__table" mat-table [dataSource]="dataSource" >
            
            <ng-container matColumnDef="caeId">
               <mat-header-cell *matHeaderCellDef class="catalogo__header-cell"> ID </mat-header-cell>
               <mat-cell *matCellDef="let item" class="catalogo__cell"> {{ item.caeId }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="caeArchivo">
               <mat-header-cell *matHeaderCellDef class="catalogo__header-cell archivo-cell"> Archivo </mat-header-cell>
               <mat-cell *matCellDef="let item" class="catalogo__cell archivo-cell link-cell " (click)="downloadFile(item.caeArchivoURL)">
                  {{ getFileName(item.caeArchivo) }}
               </mat-cell>
            </ng-container>

            <ng-container matColumnDef="caeFecha">
               <mat-header-cell *matHeaderCellDef class="catalogo__header-cell"> Fecha </mat-header-cell>
               <mat-cell *matCellDef="let item" class="catalogo__cell"> {{ item.caeFecha | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="caeEstatus">
               <mat-header-cell *matHeaderCellDef class="catalogo__header-cell"> Estatus </mat-header-cell>
               <mat-cell *matCellDef="let item" class="catalogo__cell"> {{ item.caeEncActivo ? 'Activo' : 'Inactivo' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="caeNumeroPreguntas">
               <mat-header-cell *matHeaderCellDef class="catalogo__header-cell numPregunta"> Numero de Preguntas </mat-header-cell>
               <mat-cell *matCellDef="let item" class="catalogo__cell numPregunta"> {{ item.caeNumeroPreguntas }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="caeEncActivo">
               <mat-header-cell *matHeaderCellDef class="catalogo__header-cell"> Activo/Inactivo </mat-header-cell>
               <mat-cell *matCellDef="let item" class="catalogo__cell"> {{ item.caeEncActivo ? 'Activo' : 'Inactivo' }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
         </table>
      </div>
      <div class="contenedor-paginator">
         <mat-paginator class="catalogo__table paginator" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
   </mat-card>
</div>
