<h2>Detalle del tasa o cuota</h2>
<form
  *ngIf="tasaCuota"
  #editForm="ngForm"
  (ngSubmit)="save()"
  autocomplete="off"
>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Clave</mat-label>
        <input
          matInput
          [(ngModel)]="tasaCuota.tocId"
          id="tocId"
          name="tocId"
          placeholder="Clave"
          readonly
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label for="tocTasaocuota">Tasa o Cuota</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="tasaCuota.tocTasaocuota"
          id="tocTasaocuota"
          name="tocTasaocuota"
          placeholder="Tasa o Cuota"
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Clave de impuestos</mat-label>
        <mat-select
          [value]="tasaCuota.tocImpId"
          (selectionChange)="OnImpuestoChange($event)"
        >
          <mat-option
            *ngFor="let impuesto of listImpuestosFilter"
            [value]="impuesto.impId"
          >
            {{ impuesto.impNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Clave de tipo de factores</mat-label>
        <mat-select
          [value]="tasaCuota.tocTfaId"
          (selectionChange)="OnFactorChange($event)"
        >
          <mat-option
            *ngFor="let factor of listTiposFactoresFilter"
            [value]="factor.tfaId"
          >
            {{ factor.tfaTipofactor }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Traslado</mat-label>
        <mat-select
          [(ngModel)]="tasaCuota.tocTraslado"
          id="tocTraslado"
          name="tocTraslado"
          required
        >
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
 
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Retención</mat-label>
        <mat-select
          [(ngModel)]="tasaCuota.tocRetencion"
          id="tocRetencion"
          name="tocRetencion"
          required
        >
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="!tasaCuota.tocRetencion"
          >Activo es requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Activo</mat-label>
        <mat-select
          [(ngModel)]="tasaCuota.tocActivo"
          id="banActivo"
          name="banActivo"
          required
        >
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="!tasaCuota.tocActivo">Activo es requerido</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="button-row text-center" role="group">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!editForm.form.valid"
    >
      Guardar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
