<h2>Detalle del producto</h2>
<form *ngIf="producto" #editForm="ngForm" (ngSubmit)="save()" autocomplete="off">

  <!-- ROW 1 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proNombre">Nombre</mat-label>
        <input  maxlength="1000" matInput [(ngModel)]="producto.proNombre" id="proNombre" name="proNombre" placeholder="Nombre" required />
        <mat-error *ngIf="producto.proNombre == ''">Nombre es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proNombreCorto">Nombre Corto</mat-label>
        <input required maxlength="30" matInput [(ngModel)]="producto.proNombreCorto" id="proNombreCorto" name="proNombreCorto" placeholder="Nombre Corto" />
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proSku">SKU</mat-label>
        <input  maxlength="30" matInput [(ngModel)]="producto.proSku" id="proSku" name="proSku" placeholder="SKU" required />
        <mat-error *ngIf="producto.proSku == ''">SKU es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proCodigoBarras">Código de Barras</mat-label>
        <input  maxlength="30" matInput [(ngModel)]="producto.proCodigoBarras" id="proCodigoBarras" name="proCodigoBarras" placeholder="Código de Barras" />
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 3 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Familia</mat-label>
        <mat-select required [value]="producto.proFamId" (selectionChange)="onFamiliaChange($event)">
          <mat-option *ngFor="let familia of familiaList" [value]="familia.famId">{{ familia.famNombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Presentación</mat-label>
        <mat-select required [value]="producto.proPreId" (selectionChange)="onPresentacionChange($event)">
          <mat-option *ngFor="let presentacion of presentacionList" [value]="presentacion.preId">{{ presentacion.preNombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 4 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Unidad de medida</mat-label>
        <mat-select  required [value]="producto.proUnmId" (selectionChange)="onUnidadMedidaChange($event)">
          <mat-option *ngFor="let unidad of unidadMedidaList" [value]="unidad.unmId">{{ unidad.unmNombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proDescripcionFabricante">Descripción Fabricante</mat-label>
        <input  maxlength="500" matInput [(ngModel)]="producto.proDescripcionFabricante" id="proDescripcionFabricante" name="proDescripcionFabricante" placeholder="Descripción Fabricante" />
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 5 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proRecomendacionUso">Recomendación de Uso</mat-label>
        <input  maxlength="500" matInput [(ngModel)]="producto.proRecomendacionUso" id="proRecomendacionUso" name="proRecomendacionUso" placeholder="Recomendación de Uso" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proAlto">Alto</mat-label>
        <input  maxlength="10" matInput [(ngModel)]="producto.proAlto" id="proAlto" name="proAlto" placeholder="Alto" />
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 6 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proLongitud">Longitud</mat-label>
        <input  maxlength="10" matInput [(ngModel)]="producto.proLongitud" id="proLongitud" name="proLongitud" placeholder="Longitud" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proAncho">Ancho</mat-label>
        <input  maxlength="10" matInput [(ngModel)]="producto.proAncho" id="proAncho" name="proAncho" placeholder="Ancho" />
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 7 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proPeso">Peso</mat-label>
        <input  maxlength="30" matInput [(ngModel)]="producto.proPeso" id="proPeso" name="proPeso" placeholder="Peso" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label for="proClaveProdServ">Clave Prod/Serv</mat-label>
        <input required maxlength="10" matInput [(ngModel)]="producto.proClaveProdServ" id="proClaveProdServ" name="proClaveProdServ" placeholder="Clave Prod/Serv" />
      </mat-form-field>
    </div>
  </div>

  <!-- ROW 8 -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Permite Devolución:</mat-label>
        <mat-select [(ngModel)]="producto.proDevolucion" id="proDevolucion" name="proDevolucion">
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Activo:</mat-label>
        <mat-select [(ngModel)]="producto.proActivo" id="proActivo" name="proActivo">
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="button-row text-center" role="group" style="margin-top: 20px;">
    <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid" style="margin-right: 10px;">Guardar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>
